{% extends 'main.html' %}
{% comment %} extends main {% endcomment %}

{% block content %}


<hr>

<h1>Projects</h1>
<table>
   <tr>
      <th>Project ID</th>
      <th>Project</th>
      <th>Positive Vote Total</th>
      <th>Vote Percentage</th>
      <th>Project Creation Date</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
   
   {% for project in projects %}
   <tr>
      <td>{{project.id}}</td>
      <td>{{project.title}}</td>
      <td>+{{project.vote_total}}</td>
      <td>{{project.vote_ratio}}%</td>
      <td>{{project.created}}</td>
      <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
      <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
      <td><a href="{% url 'project' project.id %}">{{project.title}}</a></td>
   </tr>
   {% endfor %}

<table>

<ul>
 {% for project in projects %}
    <li>Title <a href="{% url 'project' project.id %}">{{project.title}}</a> -- {{project.created}}</li>
 {% endfor %}


</ul>




<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{% endblock content %}
